*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

html {
	background: #F9FDFF;
	font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
	overflow: hidden;
	display: flex;
}

/* Links */
a {
	text-decoration: none;
	color: #016D78;
}

a:visited {
  color: #1A535C;
}

/* Typography */
h1, h2, h3, h4, h5 {
  font-family: 'Comfortaa', sans-serif;
  color: #016D78;
}

p,
pre,
code {
	line-height: 1.5;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
	background-color: #f5d600;
	color: #000 !important;
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	background: #fff18d;
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* A11y Text */
.visually-hidden {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}

/* Site Layout */
.container {
  max-width: 1280px;
  margin-left: auto;
	margin-right: auto;
	padding: 0 3rem;
}

.site {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

}

.site-header {
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
	/* position: relative; */
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	z-index: 1;
	padding: 0 2rem;
	border-top: 10px solid #FFE66E;
}

/* Site Nav */
@media only screen and (max-width: 1344px) {
	.site-nav-container {
		display: flex;
		align-items: center;
	}
}

.site-nav-toggle-btn {
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
	height: 2rem;
}

.site-nav-toggle-btn svg {
	height: 2rem;
	width: 2rem;
	fill: #25827c;
}

.site-nav-toggle-btn:hover svg {
	fill: #2c9992;
}

.site-nav-toggle-btn--close {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

@media only screen and (min-width: 1345px) {
	.site-nav-toggle-btn {
		display: none;
	}
}

.site-nav {
	height: 100%;
	display: flex;
}

/* Narrow Viewport Styles */
@media only screen and (max-width: 1344px) {
	.site-nav {
		position: absolute;
		top: -100%;
		opacity: 0;
		display: block;
	}

	.site-nav.open {
		left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    right: 0;
		background: rgb(255, 255, 255);
		opacity: 1;
		transition: opacity 0.55s;
	}
}

.site-nav ul,
.site-nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 100%;
}

.site-nav ul {
	display: flex;
	justify-content: space-between;
	max-width: calc(100vw - 370px - 6rem)
}

.site-nav li {
	display: flex;
  align-items: center;
}

.site-nav a {
	font-size: 2em;
	font-weight: bold;
	color: #25827c;
	padding: 20px;
	display: flex;
	align-items: center;
}

.site-nav a:hover {
	background-color: #185a56;
	color: #fff;
}

@media only screen and (max-width: 1344px) {
	.site-nav ul {
		flex-direction: column;
		justify-content: normal;
		max-width: 100%;
		margin-top: 4rem;
	}

	.site-nav li {
		height: auto;
	}

	.site-nav a {
		display: block;
    text-align: center;
    width: 100%;
	}
}

.logo {
	display: inline-block;
	padding: 5px 0 0;
}

.logo-svg {
	height: 150px;
	width: 370px;
}

@media only screen and (max-width: 570px) {
	.logo-svg {
		height: 133px;
		width: 330px;
	}
}

@media only screen and (max-width: 470px) {
	.logo-svg {
		height: 121px;
		width: 300px;
	}
}

@media only screen and (max-width: 439px) {
	.logo-svg {
		height: 85px;
		width: 210px;
	}
}

.site-body {
	flex-grow: 1;
  overflow-y: auto;
}
.site-footer {
	margin-top: -20px;
}

.wave-container {
	position: relative;
	z-index: 0;
  background: linear-gradient(0deg, rgba(1,109,120,1) 0%, rgba(1,109,120,1) 50%, rgba(255,255,255,0) 50%);
	min-height: 25vw;
}

/* Pull footer up higher on blog post page to mesh with sidebar */
[data-current="post"] .site-footer {
	margin-top: -150px;
}

.site-footer-center {
	background: rgba(1,109,120,1);
	color: #fff;
	text-align: center;
	padding: 1em;
}

.site-footer-nav ul {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-footer-nav li {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-footer-nav a {
	color: #fff;
}

.site-footer-nav a:hover {
	text-decoration: underline;
}

/* Footer Waves */
.wave {
  position: absolute;
  top: 0;
  left: 0;
}

.wave-1 {
  z-index: 3;
  fill: #016D78;
}

.wave-2 {
  z-index: 2;
  fill: #83C5BE;
}

.wave-3 {
  z-index: 1;
  fill: #EDF6F9;
}

/* Blog Styles */
.blog-container img {
	max-width: 100%;
}

.blog-container {
  display: flex;
  justify-content: space-between;
}

/* Blog Main Content */
.blog-main {
  box-sizing: border-box;
  -ms-flex-preferred-size: 65%;
  flex-basis: 65%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
	max-width: 65%;
	padding-top: 30px;
	padding-bottom: 150px;
}

@media only screen and (max-width: 870px) {
	.blog-main {
		max-width: 100%;
	}
}

/* Blog Sidebar */
.blog-aside {
  background: #EDF6F9;
  box-sizing: border-box;
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
	max-width: 32%;
	padding-top: 30px;
	padding-bottom: 150px;
}

@media only screen and (max-width: 870px) {
	.blog-aside {
		display: none;
	}
}

.profile {
  display: flex;
  flex-direction: column;
}

.profile-pic {
  background: #00f;
  border-radius: 50%;
  height: 70%;
  width: 70%;
  display: inline-block;
  margin: 0 auto;
}

.aside-card {
  padding: 20px 30px;
}

.tag {
	display: inline-block;
	vertical-align: text-top;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .665em;
	padding: 0 .5em;
	line-height: 2em;
	height: 2em;
	background-color: #f5d600;
	color: #000 !important;
	border-radius: .25em;
	text-decoration: none;
	margin: 0 .5em .5em 0;
}

a.tag:hover {
	background: #fff18d;
}

/* Contact Form */
.form {
  display: grid;
	padding: 2em 0;
}

.label {
	font-weight: 700;
}

.input,
.textarea,
.button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

.input,
.textarea {
	border: 1px solid #CCC;
	border-radius: 5px;
}

.button {
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #1A535C;
	color: #fff;
	cursor: pointer;
}

.video-embed {
	position: relative;
	overflow: hidden;
	padding-bottom: 75%;
	height: 0
}

.video-embed.widescreen {
	padding-bottom: 56.25%
}

.video-embed iframe,
.video-embed object,
.video-embed embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}