<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body,
    html {
      height: 100%;
      margin: 0;
      font: 400 15px/1.8 "Lato", sans-serif;
      color: #777;
    }

    .bgimg {
      position: relative;
      opacity: 0.65;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .bgimg-1 {
      background-image: url("header.png");
      min-height: 100%;
    }

    .bgimg-2 {
      background-image: url("ariel-collage.png");
      min-height: 100%;
    }

    .bgimg-3 {
      background-image: url("jocoeducamp-group.png");
      min-height: 100%;
    }

    .bgimg-4 {
      background-image: url("classroom1.png");
      min-height: 100%;
    }

    .bgimg-5 {
      background-image: url("conference-group.png");
      min-height: 100%;
    }

    .bgimg-6 {
      background-image: url("tech-legos.png");
      min-height: 100%;
    }

    .bgimg-7 {
      background-image: url("classroom2.png");
      min-height: 100%;
    }

    .bgimg-8 {
      background-image: url("tower-garden.png");
      min-height: 100%;
    }

    .caption {
      position: absolute;
      left: 0;
      top: 50%;
      width: 50%;
      background: #fff;
    }

    .caption span.border {
      background-color: #111;
      color: #fff;
      padding: 18px;
      font-size: 25px;
      letter-spacing: 10px;
    }

    h3 {
      letter-spacing: 5px;
      text-transform: uppercase;
      font: 20px "Lato", sans-serif;
      color: #111;
    }

    /* Turn off parallax scrolling for tablets and phones */
    @media only screen and (max-device-width: 1024px) {

      .bgimg {
        background-attachment: scroll;
      }
    }
  </style>
</head>

<body>

  <div class="bgimg bgimg-1">
  </div>

  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Seeking ways to engage and challenge all students is what I love to do!</p>
  </div>

  <div class="bgimg bgimg-2">
    <div class="caption">

    </div>
  </div>

  <div style="position:relative;">
    <div style="text-align:center;padding:50px 80px;text-align: justify;">
      <div class="content-container">
        <h3><span class="heading-content-wrapper"><a class="page-heading-anchor small" title="Copy anchor link"
              id="page-content-learner" aria-hidden="true" href="#learner" style="transform: translate(18px);"></a><span
              class="heading-text">Learner</span></span></h3>
        <p>As an educator, I have taken ownership of my professional development through reading, building a global
          PLN, and attending conferences. I seek to learn about technology resources and tools that allow students to be
          producers rather than purely consumers.</p>
        <ul>
          <li>Certified Apple Teacher</li>
          <li>Certified Microsoft Innovative Educator</li>
          <li>Certified Google Educator Level 2</li>
          <li>Flipgrid Certified</li>
          <li>Seesaw Ambassador</li>
          <li>Certified ISTE Educator (anticipated Dec 19)</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bgimg bgimg-3">
    <div class="caption">
      <div class="content-container">
        <h3 class=" "><span class="heading-content-wrapper"><a class="page-heading-anchor small" title="Copy anchor link"
              id="page-content-leader" aria-hidden="true" href="#leader" style="transform: translate(18px);"></a><span
              class="heading-text">Leader</span></span></h3>
        <p class=" ">In the past, I believed that as a teacher, leaders would tell me what was best for me and what I needed
          to know. As I began to serve on committees like Building Leadership Team and the Interdisciplinary Team, I realized
          I had a lot to offer. I began presenting at local conferences and organizing teacher meet ups. My leadership as a
          teacher has led to opportunities that allow me to advocate for students and teachers.</p>
        <ul>
          <li class=" ">Founder of Johnson County Edcamp</li>
          <li class=" ">Co-Founder of Teacher Talk Olathe</li>
          <li class=" ">Olathe Spark Starters Podcast Editor</li>
          <li class=" ">METC Advisory Council</li>
          <li class=" ">Making It Happen Awardee 2019</li>
        </ul>
        <div class="link-button-wrapper link-left">
          <div class="embedded-link-wrapper widescreen-aspect-ratio">
            <iframe class="link-button " src="https://youtube.com/embed/lJ85ZLsQIfg?enablejsapi=1" frameborder="0"
              data-href="https://youtu.be/lJ85ZLsQIfg"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="position:relative;">
    <div style="text-align:center;padding:50px 80px;text-align: justify;">
      <div class="content-container">
        <h3><span class="heading-content-wrapper"><a class="page-heading-anchor small" title="Copy anchor link"
              id="page-content-learner" aria-hidden="true" href="#learner" style="transform: translate(18px);"></a><span
              class="heading-text">Learner</span></span></h3>
        <p>As an educator, I have taken ownership of my professional development through reading, building a global
          PLN, and attending conferences. I seek to learn about technology resources and tools that allow students to be
          producers rather than purely consumers.</p>
        <ul>
          <li>Certified Apple Teacher</li>
          <li>Certified Microsoft Innovative Educator</li>
          <li>Certified Google Educator Level 2</li>
          <li>Flipgrid Certified</li>
          <li>Seesaw Ambassador</li>
          <li>Certified ISTE Educator (anticipated Dec 19)</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bgimg bgimg-4">
    <div class="caption">
      <div class="content-container">
        <h3 class=" "><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link"
              id="page-content-citizen" aria-hidden="true" href="#citizen"></a><span
              class="heading-text">Citizen</span></span></h3>
        <p class=" ">It is my passion to empower kids and motivate them to take ownership in their learning. My students have
          connected with classrooms all over the world through Skype and Flipgrid. We have participated in Global Read Aloud
          and Mystery Skype. Using Project Based Learning, Skype has become a necessity to connect with authors, local
          businesses, scientists, and inventors. I am committed to raising responsible digital citizens. In my classroom, we
          used Nearpod lessons supported by Common Sense Media to teach digital citizenship, along with Google's Be Internet
          Awesome resources.</p>
      </div>
    </div>
  </div>

  <div class="bgimg bgimg-5">
    <div class="caption">
      <div class="content-container">
        <h3 class=" "><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link"
              id="page-content-collaborator" aria-hidden="true" href="#collaborator"></a><span
              class="heading-text">Collaborator</span></span></h3>
        <p class=" ">Within my district, I have a tribe of teachers that I collaborate on engagement strategies and best
          practices. By diversifying the people I surround myself by, I have become a stronger and more aware educator.
          Connections beyond my local community help me stay up to date in our ever-changing world of technology. Through
          blogging and Twitter I continue to grow my professional learning network globally.</p>
        <p class=" ">Teaching kids to collaborate with one another using patience, eye contact and appropriate tone to be
          successful is one way I prepare kids for their future.</p>
        <h4 class=" "><span class="heading-content-wrapper"><a class="page-heading-anchor small" title="Copy anchor link"
              id="page-content-two-heads-are-better-than-one-not-because-either-is-infallible-but-because-they-are-unlikely-to-go-wrong-in-the-same-direction--cs-lewis"
              aria-hidden="true"
              href="#two-heads-are-better-than-one-not-because-either-is-infallible-but-because-they-are-unlikely-to-go-wrong-in-the-same-direction--cs-lewis"
              style="transform: translate(18px);"></a><span class="heading-text">Two heads are better than one, not because
              either is infallible, but because they are unlikely to go wrong in the same direction. -C.S. Lewis
            </span></span></h4>
      </div>
    </div>
  </div>

  <div class="bgimg bgimg-6">
    <div class="caption">
      <div class="content-container">
        <h3 class=" "><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link"
              id="page-content-designer" aria-hidden="true" href="#designer"></a><span
              class="heading-text">Designer</span></span></h3>
        <p class=" ">Students remember 20% of what they hear, 30% of what they see, and 90% of what they do.</p>
        <p class=" ">Technology has opened the door for my students to be creative in a way I could've never imagined when I
          started teaching 10 years ago! When designing lessons, I utilize the design thinking process, project-based
          learning, and the workshop model to meet the unique needs of my students. Students are able to show their learning
          through authentic, hands-on, creative assessments. Here are a few of my student's favorite tools for innovation:</p>
        <ul>
          <li class=" "><b>Seesaw</b>: digital portfolio and parent connection</li>
          <li class=" "><b>Flipgrid</b>: empower student voice and connect globally</li>
          <li class=" "><b>Clips</b>: video presentation of learning</li>
          <li class=" "><b>Scratch/Scratch Jr</b>: integrating coding while presenting content and storytelling</li>
          <li class=" "><b>Sphero</b>: STEM, geometry and measurement</li>
          <li class=" "><b>Tinker Cad</b>: 3D printing and prototypes</li>
          <li class=" "><b>Makerspace Materials</b>: Legos, K'Nex, Magnatiles, and of course... cardboard.</li>
        </ul>
        <div class="image hidden">
          <div class="image-wrapper">
            <a href="images/34eba8d3-6301-4d44-b574-72e92726d953.png?asset_id=32515acb-4c77-446c-9a8e-715d9f1d4d6a&amp;img_etag=b6f1333f71ef172da0b063b50623a1dd&amp;size=1024"
              class="image-viewer-link" target="_blank" rel="nofollow noreferrer"><img alt=""
                src="images/34eba8d3-6301-4d44-b574-72e92726d953.png?asset_id=32515acb-4c77-446c-9a8e-715d9f1d4d6a&amp;img_etag=b6f1333f71ef172da0b063b50623a1dd&amp;size=2560"
                data-image-width="1156" data-image-height="913"></a>
          </div>
        </div>
        <div class="link-button-wrapper link-center">
          <a class="link-button " href="https://www.podbean.com/eu/pb-wkfn5-b6ac78" rel="nofollow noreferrer"
            target="_blank">Listen to the Podcast Here</a>
        </div>
      </div>
    </div>
  </div>

  <div class="bgimg bgimg-7">
    <div class="caption">
      <div class="content-container">
        <h3 class=" "><span class="heading-content-wrapper"><a class="page-heading-anchor small" title="Copy anchor link"
              id="page-content-facilitator" aria-hidden="true" href="#facilitator"
              style="transform: translate(18px);"></a><span class="heading-text">Facilitator</span></span></h3>
        <p class=" ">Finding new ways to integrate technology in the classroom energizes me. Students in my classroom use
          iPads to communicate, enhance, and create products of their learning. Even though I have no computer science
          background, I have inspired my students to engage in CS. This is a risk I was willing to take because I deeply
          believe in the power of students having access to the principles of CS. My role quickly becomes facilitator as I
          take a backseat in student learning. With the support of free programs, like Scratch and Google CS First, my
          students are able to self-direct their learning.</p>
        <p class=" ">Edcamp Johnson County and Teacher Talk Olathe were created from a facilitator stand point. I saw a need
          for teachers to have open ended time to collaborate with one another based on their individual needs. Both of these
          events foster a culture of teachers taking ownership in their learning.</p>
        <div class="image hidden">
          <div class="image-wrapper">
            <a href="images/ceef9136-a760-4a8d-ab7c-a13dc635a72b.png?asset_id=5f100234-04f4-4c4c-9684-c055563ba7e4&amp;img_etag=30f6c4e22bbbe52bb2d183abc9afdfa6&amp;size=1024"
              class="image-viewer-link" target="_blank" rel="nofollow noreferrer"><img alt=""
                src="images/ceef9136-a760-4a8d-ab7c-a13dc635a72b.png?asset_id=5f100234-04f4-4c4c-9684-c055563ba7e4&amp;img_etag=30f6c4e22bbbe52bb2d183abc9afdfa6&amp;size=2560"
                data-image-width="1989" data-image-height="781"></a>
          </div>
        </div>
        <div class="link-button-wrapper link-center">
          <a class="link-button "
            href="https://podcasts.apple.com/us/podcast/episode-27-ariel-jankord-and-edcamp-joco/id1434731186?i=1000433239875"
            rel="nofollow noreferrer" target="_blank">Listen to Podcast Here</a>
        </div>
      </div>
    </div>
  </div>

  <div class="bgimg bgimg-8">
    <div class="caption">
      <div class="content-container">
        <h3 class=" "><span class="heading-content-wrapper"><a class="page-heading-anchor small" title="Copy anchor link"
              id="page-content-facilitator" aria-hidden="true" href="#facilitator"
              style="transform: translate(18px);"></a><span class="heading-text">Facilitator</span></span></h3>
        <p class=" ">Finding new ways to integrate technology in the classroom energizes me. Students in my classroom use
          iPads to communicate, enhance, and create products of their learning. Even though I have no computer science
          background, I have inspired my students to engage in CS. This is a risk I was willing to take because I deeply
          believe in the power of students having access to the principles of CS. My role quickly becomes facilitator as I
          take a backseat in student learning. With the support of free programs, like Scratch and Google CS First, my
          students are able to self-direct their learning.</p>
        <p class=" ">Edcamp Johnson County and Teacher Talk Olathe were created from a facilitator stand point. I saw a
          need
          for teachers to have open ended time to collaborate with one another based on their individual needs. Both of
          these
          events foster a culture of teachers taking ownership in their learning.</p>
        <div class="image hidden">
          <div class="image-wrapper">
            <a href="images/ceef9136-a760-4a8d-ab7c-a13dc635a72b.png?asset_id=5f100234-04f4-4c4c-9684-c055563ba7e4&amp;img_etag=30f6c4e22bbbe52bb2d183abc9afdfa6&amp;size=1024"
              class="image-viewer-link" target="_blank" rel="nofollow noreferrer"><img alt=""
                src="images/ceef9136-a760-4a8d-ab7c-a13dc635a72b.png?asset_id=5f100234-04f4-4c4c-9684-c055563ba7e4&amp;img_etag=30f6c4e22bbbe52bb2d183abc9afdfa6&amp;size=2560"
                data-image-width="1989" data-image-height="781"></a>
          </div>
        </div>
        <div class="link-button-wrapper link-center">
          <a class="link-button "
            href="https://podcasts.apple.com/us/podcast/episode-27-ariel-jankord-and-edcamp-joco/id1434731186?i=1000433239875"
            rel="nofollow noreferrer" target="_blank">Listen to Podcast Here</a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>